html,
body {
    font-size: 18px;
    font-family: Helvetica; 
}

.container {
    display: flex;
    width: 960px;
    justify-content: flex-start;
}

/*title of the site*/

.top-nav {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
}

.top-nav img {
    display: flex;
    height: 1.5rem;
    align-self: center;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.top-nav p {
    font-size: 1rem;
    margin: 0.66rem 0rem;
    
}

.top-nav-black {
    display: flex;
    color: white;
    font-size: 1rem;
}

/*big image*/

.mid-nav {
    display: flex;
    background-image: url(../images/moto.png);
    width: 100%;
    height: 25rem;
    justify-content: center;
    background-size: cover;
}

.title-nav-container {
    display:flex;
    justify-content: flex-start;
    margin-top: 9rem;
    
    align-self: flex-start;
    
}

.title-nav {
    padding: 2rem 3rem;
    font-weight:bold;
    background-color: black;
    color: white;
    
}

.title-nav h4{
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.title-nav h1{
    font-size: 2rem;
}

/*MAIN-MENU*/

.menu-nav {
    background-color: firebrick;   
    width: 100%; 
    display: flex;
    justify-content: center;
}

.menu-container {
    width: 960px;
}
 
.meniu {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.25rem 0rem;
}

/*CONTENT*/

.things {
    display: inline-flex;
}
